*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --main-green: rgb(0, 149, 0);
  --mid-green: rgb(0, 100, 0);
  --dark-green: #035c03;
  --main-yellow: #ffe100;
  --beautiful-blue: rgb(71, 172, 177);
  --header-height: 10vmin;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: var(--header-height) 0 0 0;
  width: 100vw;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  color: #333;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p  { font-size: clamp(0.875rem, 0.4375rem + 0.9vw, 1.25rem); }

h1 { font-size: clamp(1.75rem, 0.875rem + 2.5vw, 3rem); }
h2 { font-size: clamp(1.5rem, 0.75rem + 2vw, 2.5rem); }
h3 { font-size: clamp(1.25rem, 0.625rem + 1.5vw, 2rem); }
h4 { font-size: clamp(1.125rem, 0.5625rem + 1.25vw, 1.75rem); }
h5 { font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem); }
h6 { font-size: clamp(0.9375rem, 0.46875rem + 0.85vw, 1.375rem); }

small { font-size: clamp(0.75rem, 0.375rem + 0.65vw, 1.125rem); }
code, pre { font-size: clamp(0.875rem, 0.4375rem + 0.75vw, 1.25rem); }

ul, ol { font-size: clamp(0.875rem, 0.4375rem + 0.9vw, 1.25rem); }
li { font-size: clamp(0.875rem, 0.4375rem + 0.9vw, 1.25rem); }



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-green);
  color: white;
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  padding: 0 .25rem 0 .1rem;
}

.header h1 {
  margin-left: 20px;
  font-weight: 200;
  font-size: 3.9vmin;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header-nav {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-right: 1rem;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 2.7vmin;
  font-weight: 100;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#bef, #fff);
  color: #000;
  padding-top: 4vmin;
  padding-bottom: 4vmin;
  width: 100vw;
  padding: .5rem;

}

.left-hero {
  width: 50%;
  min-width: 150px;
  padding: 1.5vmin 3vmin 3vw 3vmin;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-hero-inner p {
  font-size: 3.5vmin;
}

.cta-button {
  background-color: #ffe100;
  color: #000;
  padding: .33rem 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: .9rem;
}

.hero-cta {
  font-size: clamp(.5rem, calc(.4rem + 1vw), 1rem);
  margin-top: clamp(2.5rem, calc(1.7rem + 10vw), 20rem);
}

.right-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  width: 40vw;
}
.right-hero img {
  width: 100%;
  min-width: 50px;
  max-width: 180px;
  border-radius: 50%;
}

.services-heading {
  font-size: 4vmin;
  margin: 2rem;
  font-weight: 200;
}


.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 40px 0;
  width: 100vw;
  background-color: var(--beautiful-blue);
  color: rgb(86, 69, 46);
  color: goldenrod;
  color: #eec68a;
  color: #fff;
}

.card-box {
  width: 90vw;
  max-width: 600px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 7px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

.card {
  width: 150px;
  aspect-ratio: 2/2.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5vmin;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 5px;
}

.image-box {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px 5px 0 0;
}

.card a {
  text-decoration: none;
  color: #fff;
}

.card p {
  font-size: .7rem;
  font-weight: 200;
  color: #333;
}



.service-container, .blog-section {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

.service-heading, .blog-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.img-copy-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-img-container {
  width: 100%;
  width: min(80%, 700px);
  position: relative;
}

.service-section-image {
  width: min(90%, 500px);
  height: auto;
  display: block;
  margin: auto;
  border-radius: 9px;
}

.copy-container {
  width: 100%;
  max-width: 67ch;
  text-align: center;
  border-radius: 10px;
  margin-top: 3vmin;
}

.service-copy, .blog-copy {
  margin-bottom: 2rem;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--beautiful-blue);
  color: #fff;
}

.about-heading {
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.about-image {
  border: 3px solid white;
  border-radius: 50%;
  width: min(70%, 250px);
}

.about-copy {
  font-weight: 400;
  text-align: left;
}

.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#bef, #fff);
  color: #000;
}

.blog-section .cta-button {
  background-color: var(--main-green);
  color: #fff;
}

.blog-intro-image {
  border-radius: 50%;
  width: min(70%, 250px);
}

.blog-intro-tagline {
  text-align: center;
}

.blog-page-intro {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-intro-container {
  border: 1px solid #ccc;
  padding: 2rem;
  width: min(90%, 700px);
  background-color: #f4f4f4;
  margin: 1rem;
  border-radius: 10px;
}

.blog-page-intro h2 {
  text-align: center;
}

.blog-page-intro p {
  max-width: 70ch;
  text-align: left;
}

.blog {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(130, 187, 197);
  padding: 1rem 0 1rem 0;
}

.blog a {
  color: var(--main-green);
}

.blog-post h3 {
  margin-top: 2.5rem;
}

.blog-post img {
  margin: 1rem 0 1rem 0;
}

.blog-posts {
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.blog article {
  background-color: #f4f4f4;
  width: min(90%, 700px);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
}

.blog-post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post-card img {
  margin: 2rem;
  border-radius: 7px;
}

.blog-post {
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 10px;
  width: min(90%, 700px);
  margin: 1rem 0 0 0;
}

.blog-post h4 {
  margin-top: 1rem;
}

.blog-post ul {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.blog-post li {
  margin-bottom: .5rem;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
}

.resource-container {
  padding: 1rem 2rem;
  border-radius: 10px;
  width: min(90%, 700px);
  margin-top: 1.5rem;
  background-color: #fff;
}

.resources a {
  color: var(--main-green);
}

.contact-container {
  border: 1px solid;
  width: min(90%, 700px);
  border-radius: 10px;
  margin: 0 auto 2rem auto;
  padding: 2rem;
  margin: 2rem auto;
}

.contact-container h2 {
  text-align: center;
}

.contact-methods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-anchor {
  background-color: #ffe100;
  padding: .33rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  margin-right: 1.1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.contact-anchor:hover {
  background-color: orange;
}

.contact-anchor:active {
  background-color: #eec68a;
}

.phone {
  letter-spacing: .05rem;
}

.calendly-container {
  background: linear-gradient( var(--mid-green), var(--main-green));
  padding: 4.5vmin 3vmin;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7vmin;
  color: #fff;
  background-color: var(--dark-green);
}

.copy-right-statement {
  font-size: .75rem;
  opacity: .5;
}

.bible-verse {
  font-size: .5rem;
  opacity: 0.333;
}