*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

#root, #__next {
  isolation: isolate;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 3.9vmin;
}

h2 {
  font-size: 4.2vmin;
}

p {
  font-size: 1rem;
  margin: 10px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 149, 0);
  color: white;
  padding: 2vmin 0px;
  width: 100vw;
}

.header h1 {
  margin-left: 20px;
  font-weight: 200;
}

.header-nav {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-right: 1rem;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 2.7vmin;
  font-weight: 100;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#bef, #fff);
  color: #000;
  padding-top: 4vmin;
  padding-bottom: 4vmin;
  width: 100vw;
  padding: .5rem;

}

.left-hero {
  width: 50%;
  min-width: 150px;
  padding: 1.5vmin 3vmin 3vw 3vmin;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-hero-inner p {
  font-size: 3.5vmin;
}

.cta-button {
  background-color: #ffe100;
  color: #000;
  padding: .33rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: .9rem;
  margin: 1.5rem;
}

.hero-cta {
  font-size: 2.7vmin;
  margin: 3vmin 0 0 0;
}

.right-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  width: 40vw;
}
.right-hero img {
  width: 100%;
  min-width: 50px;
  max-width: 150px;
  border-radius: 50%;
}

.services-heading {
  font-size: 4vmin;
  margin: 2rem;
}


.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 40px 0;
  width: 100vw;
  background: linear-gradient(rgb(0, 149, 0), rgb(0, 100, 0));
  color: rgb(86, 69, 46);
  color: goldenrod;
  color: #eec68a;
  color: #fff;
}

.service-heading {
  margin-top: 3vmin;
  margin-bottom: 7vmin;
  font-weight: 700;
}

.card-box {
  width: 90vw;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 25%;
  aspect-ratio: 2/2.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  margin: 4%;
  text-align: center;
}

.image-box {
  width: 100%;
  aspect-ratio: 1/1;
  border: .3vmin solid;
  box-shadow: 0 0 10px;
  border-radius: 10px;
}

.card a {
  text-decoration: none;
  color: #fff;
}

.card p {
  font-size: .9rem;
}



.service-container {
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

.service-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.img-copy-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-img-container {
  width: 100%;
  position: relative;
}

.service-section-image {
  width: 80%;
  max-width: 650px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.copy-container {
  width: 100%;
  max-width: 67ch;
  text-align: justify;
  border-radius: 10px;
  margin-top: 3vmin;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #ccc;
}

.resource-container {
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  margin-top: 1.5rem;
}

.contact-container {
  border: 1px solid;
  width: min(90%, 700px);
  border-radius: 10px;
  margin: 0 auto 2rem auto;
  padding: 2rem;
  margin: 2rem auto;
}

.contact-methods {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.contact-anchor {
  background-color: #ffe100;
  padding: .33rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  margin-right: 1.1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.contact-anchor:hover {
  background-color: orange;
}

.contact-anchor:active {
  background-color: #eec68a;
}

.phone {
  letter-spacing: .05rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7vmin;
  color: #fff;
  background-color: #02500f;
}

.copy-right-statement {
  font-size: .75rem;
  opacity: .5;
}

.bible-verse {
  font-size: .5rem;
  opacity: 0.333;
}