*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --main-green: rgb(5, 134, 5);
  --mid-green: rgb(5, 113, 5);
  --dark-green: #035c03;
  --dark-forest-green: rgb(26, 125, 19);
  --main-yellow: #207c28;
  --beautiful-blue: rgb(71, 172, 177);
  --cta-button-background-color: rgb(98, 183, 1);
  --header-height: 10vmin;
  --light-grey: #ccc;
}

html {
  scroll-padding-top: var(--header-height);
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: var(--header-height) 0 0 0;
  width: 100vw;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  color: #333;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p  { 
  font-size: clamp(0.875rem, 0.4375rem + 0.9vw, 1.25rem);
  margin: 1rem 0;
}

h1 { font-size: clamp(1.75rem, 0.875rem + 2.5vw, 3rem); }
h2 { 
  font-size: clamp(1.5rem, 0.75rem + 2vw, 2.5rem);
  margin: 1rem 0;
  font-weight: 200;
}
h3 { 
  font-size: clamp(1.25rem, 0.625rem + 1.5vw, 2rem);
  margin: 1rem 0; 
  font-weight: 100;
}
h4 { 
  font-size: clamp(1.125rem, 0.5625rem + 1.25vw, 1.75rem);
  margin: 1rem 0;
  font-weight: 100; 
}
h5 { font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem); }
h6 { font-size: clamp(0.9375rem, 0.46875rem + 0.85vw, 1.375rem); }

small { font-size: clamp(0.75rem, 0.375rem + 0.65vw, 1.125rem); }
code, pre { font-size: clamp(0.875rem, 0.4375rem + 0.75vw, 1.25rem); }

ul, ol { font-size: clamp(0.875rem, 0.4375rem + 0.9vw, 1.25rem); }

li { 
  font-size: clamp(0.875rem, 0.4375rem + 0.9vw, 1.25rem);
  margin-bottom: .5rem;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  padding: 0 .25rem 0 .1rem;
}

.header h1 {
  margin-left: 20px;
  font-weight: 200;
  font-size: 3.9vmin;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header-nav {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-right: 1.5rem;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  font-size: 2.7vmin;
  font-weight: 100;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#bef, rgb(227, 246, 252));
  color: #000;
  padding-top: 4vmin;
  width: 100vw;
  padding: .5rem;
  padding-bottom: 1rem;
}

.hero-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.left-hero {
  width: 50vw;
  min-width: 150px;
  max-width: 550px;
  padding: 1.5vmin 3vmin 3vw 3vmin;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-hero-inner h2 {
  font-size: clamp(1.125rem, 0.5625rem + 1.25vw, 1.75rem);
  font-weight: 400;
}

.left-hero-inner p {
  font-size: clamp(0.9375rem, 0.46875rem + 0.85vw, 1.375rem);
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.cta-button {
  background-color: var(--cta-button-background-color);
  color: #fff;
  padding: .4rem 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 900;
}

.cta-button:hover {
  background-color: var(--mid-green);
  color: #fff;
}

.hero-cta {
  font-size: clamp(0.75rem, 0.375rem + 0.65vw, 1.125rem); 
  margin-bottom: 1rem;
}

.phone-number {
  letter-spacing: .1rem;
}

.right-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
}

.right-hero img {
  width: clamp(10vmin, 150px, 40vmin);
  border-radius: 50%;
  margin: 1vmin;
}

.services-heading {
  margin: 1rem;
  font-weight: 400;
}


.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 40px 0;
  width: 100vw;
  background-color: var(--dark-forest-green);
  color: rgb(86, 69, 46);
  color: goldenrod;
  color: #eec68a;
  color: #fff;
}

.service-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 650px;
  margin: 0 auto;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

.service-page img {
  border-radius: 10px;
  margin: 1rem;
}

.card-box {
  width: 90vw;
  max-width: 700px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 7px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

.card {
  width: 45%;
  aspect-ratio: 2/2.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5vmin;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 5px;
}

.image-box {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px 5px 0 0;
}

.card a {
  text-decoration: none;
  color: #fff;
}

.card p {
  font-weight: 200;
  margin: 1rem 0;
  color: #333;
  font-size: clamp(0.875rem, 0.4375rem + 0.9vw, 1rem);
}



.service-container, .blog-section {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

.service-heading, .blog-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.img-copy-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-img-container {
  width: 100%;
  width: min(80%, 700px);
  position: relative;
}

.service-section-image {
  width: min(90%, 500px);
  height: auto;
  display: block;
  margin: auto;
  border-radius: 9px;
}

.copy-container {
  width: 100%;
  max-width: 67ch;
  text-align: center;
  border-radius: 10px;
  margin-top: 3vmin;
}

.service-copy, .blog-copy {
  margin-bottom: 2rem;
}

.tree-services {
  background-color: var(--dark-green);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .7rem 0 2.5rem 0;
  border-bottom: 1px solid var(--light-grey);
}

.tree-services h2 {
  font-weight: 400;
}

.tree-services .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: clamp(300px, 95%, 700px);
  background-color: #fff;
  padding: .5rem;
  border-radius: 7px;
}

.tree-services .gallery img {
  width: 48%;
  margin: 1%;
  border-radius: 0px;
}

.tree-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  width: clamp(300px, 95%, 700px);
  margin: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}

.tree-copy-container {
  max-width: 77ch;
  padding: 1rem 1rem 1rem 1rem;
}


.electric-mowing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.electric-mowing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}

.pollinator-gardens {
  background-color: var(--beautiful-blue);
  color: #fff;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--beautiful-blue);
  color: #fff;
}

.about-heading {
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.about-image {
  border: 3px solid white;
  border-radius: 50%;
  width: min(70%, 250px);
}

.about-copy {
  font-weight: 400;
  text-align: left;
}

.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#bef, #fff);
  color: #000;
}

.blog-section .cta-button {
  background-color: var(--main-green);
  color: #fff;
}

.blog-intro-image {
  border-radius: 50%;
  width: min(70%, 250px);
}

.blog-intro-tagline {
  text-align: center;
}

.blog-page-intro {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-intro-container {
  border: 1px solid #ccc;
  padding: 2rem;
  width: min(90%, 700px);
  background-color: #f4f4f4;
  margin: 1rem;
  border-radius: 10px;
}

.blog-intro-heading {
  text-align: center;
  color: #333;
  font-weight: 100;
  margin-bottom: 1rem;
}

.blog-page-intro p {
  max-width: 70ch;
  text-align: left;
}

.blog {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beautiful-blue);
  padding: 1rem 0 1rem 0;
}

.blog a {
  color: var(--main-green);
}

.blog-heading {
  font-weight: 100;
  letter-spacing: 0rem;
  color: #fff;
  margin: 1rem;
}

.blog-post h3 {
  margin-top: 2.5rem;
}

.blog-post img {
  margin: 1rem 0 1rem 0;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0 1rem 0;
}

.blog article {
  background-color: #f4f4f4;
  width: min(90%, 700px);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
}

.blog-post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post-card h3 a {
  text-decoration: none;
  font-weight: 500;
}

.blog-post-card img {
  margin: 1rem 0;
  border-radius: 7px;
}

.blog-post {
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 10px;
  width: min(90%, 700px);
  margin: 1rem 0 0 0;
}

.blog-post h4 {
  margin-top: 1rem;
}

.blog-post ul {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.blog-post li {
  margin-bottom: .5rem;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
}

.resource-container {
  padding: 1rem 2rem;
  border-radius: 10px;
  width: min(90%, 700px);
  margin-top: 1.5rem;
  background-color: #fff;
}

.resources a {
  color: var(--main-green);
}

.contact-container {
  border: 1px solid;
  width: min(90%, 700px);
  border-radius: 10px;
  margin: 0 auto 2rem auto;
  padding: 2rem;
  margin: 2rem auto;
}

.contact-container h2 {
  text-align: center;
}

.contact-methods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-anchor {
  background-color: var(--main-yellow);
  padding: .33rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-right: 1.1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.contact-anchor:hover {
  background-color: rgb(255, 209, 192);
  color: #fff;
}

.contact-anchor:active {
  background-color: #eec68a;
}

.phone {
  letter-spacing: .05rem;
}

.calendly-container {
  background: linear-gradient( var(--mid-green), var(--main-green));
  padding: 4.5vmin 3vmin;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7vmin;
  color: #fff;
  background-color: var(--dark-green);
}

.copy-right-statement {
  font-size: .75rem;
  opacity: .5;
}

.bible-verse {
  font-size: .5rem;
  opacity: 0.333;
}